<table id="line_items">
   <tr>
     <th>Product</th>
     <th>Qty</th>
   </tr>

  <% for item in @cart.products %>
    <tr class="<%= cycle :odd, :even %>">
       <td><%=h item.product.name %></td>
       <td class="qty"><%= item.quantity %></td>
    </tr>
   <% end %>
  </table>
